@import url('less/normalize.less');
@import url('less/grid.less');
@import url('less/text.less');

html, body {
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
}

header {
	position:absolute;
	left:0;
	top:0;
	height:71px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border-bottom:4px solid #41736d;
	width:100%;
	margin:5px 5px 5px;
	h1 {
		.grid(6);
		span {
			color:red;
		}
	}
}

//Your app stuff goes here
#map {
	position:absolute;
	top:71px;
	bottom:0;
	left:0;
	right:0;
	z-index:1;
}

#toggle {
	position:absolute;
	top:81px;
	right:10px;
	width:200px;
	height:325px;
	background:rgba(255,255,255,0.8);
	box-shadow:0 0 5px rgba(0,0,0,.5);
	border-radius:5px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:5px;
	z-index:4;
	#leg-layer {
		input {
			margin-right:10px;
		}
		label {
			display:block;
			margin:0;
			padding:0;
		}
	}
}

#splash {
	position: absolute;
	top:71px;
	bottom:0;
	left:0;
	right:0;
	padding:20px;
	background:white;
	z-index:5;
	.grid(9);
	.push(1);
	overflow:auto;
}

footer {
	position:absolute;
	bottom:0;
	left:0;
	z-index:3;
	width:100%;
	.drawer {
		position:absolute;
		left:0;
		bottom:0;
		right:75%;
		height:20px;
		background:white;
		text-align:center;
		font-weight:bold;
	}
	.inner {
		height:0;
		text-align:center;
	}
	a.lister, a.locationer{
		background: url('../img/sprites.png') no-repeat;
		position:relative;
		display:inline-block;
		text-indent:101%;
		margin-right:10px;
	}

	a.lister{
		background-position: -76px 0;
		width: 65px;
		height: 65px;
	}

	a.locationer{
		background-position: 0 0;
		width: 65px;
		height: 65px;
	}
}

body.footer-up {
	#map {
		bottom:121px;
	}
	footer {
		.drawer {
			bottom:120px;
		} 
		.inner {
			bottom:0;
			height:120px;
			padding-top:10px;
		}
	}
}

.leaflet-bottom.leaflet-right {
	left:30%;
}



path {
  fill: #FFF;
  fill-opacity: .8;
  stroke: #fff;
  stroke-width: 1.5px;
  	.apathy( @num ) {
		fill: lighten(#b63b3d,percentage(@num));
	}

	&.apathy-1{
		.apathy(0);
	}
	&.apathy-2{
		.apathy(.05);
	}
	&.apathy-3{
		.apathy(.10);
	}
	&.apathy-4{
		.apathy(.15);
	}
	&.apathy-5{
		.apathy(.20);
	}
	&.apathy-6{
		.apathy(.25);
	}
	&.apathy-7{
		.apathy(.30);
	}
	&.apathy-8{
		.apathy(.35);
	}
	&.apathy-9{
		.apathy(.40);
	}
	&.apathy-10{
		.apathy(.45);
	}
}

path:hover {
  fill: brown;
  fill-opacity: .7;
}

@import url('less/util.less');

.circle {
	width: 40px; height: 40px; 
    -webkit-border-radius: 20px; -moz-border-radius: 20px; 
    display:inline-block;
    }


#v1 {
	background-color: #f1b33c; }

#v2 {
	background-color: #f48b3a; }	

#v3 {
	
	background-color: #b63b3d; }

#v4 {
	
	background-color:#027475; }

#magic {
	
	text-align: right;
	float: right;
}
