<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}App Template is GO!{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    {% if config.DEBUG %}
        <link rel="stylesheet/less" href="{{ url_for('static', filename='css/style.less') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endif %}
        
    {% block js_header %}
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>
    {% if config.DEBUG %}
        <script src="{{ url_for('static', filename='js/vendor/less-1.3.0.min.js') }}"></script>
    {% endif %}
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
        <![endif]-->
        {% endblock %}
    </head>
    <body id="viewport">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <header class="main">
            {% include('header.html') %}
        {% block header %}
        
        {% endblock %}
        </header>

        <div class="main" id="map">
        {% block body %}
        {% endblock %}
        </div>

        <div id="toggle">
            <form id="leg-layer">
                <label><input type="radio" name="leg-layer" value="l" checked />State Assembly</label>
                <label><input type="radio" name="leg-layer" value="u" />State Senate</label>
            </form>
            <div id="mouseinfo">HELLO
            </div>
        </div>

        <footer class="main">
        {% block footer %}
            {% include('footer.html') %}
        {% endblock %}
        </footer>
        
        <script>
            var data_dir = "{{ url_for('static', filename='data/') }}";
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.8.2.min.js') }}"><\/script>')</script>
        <script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
        <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.1.2"></script>
        <script src="{{ url_for('static', filename='js/vendor/d3.v3.min.js') }}"></script>
        {% block js_footer %}
        <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/counties-overlay.js') }}"></script>
        {% endblock %}
        
        {% if config.debug %}
        <script type="text/javascript" charset="utf-8">
          less.env = "development";
          less.watch();
        </script>
        <script src="{{ url_for('static', filename='js/vendor/live.js') }}"></script>
        {% endif %}
    </body>
</html>
