<div class="drawer">Map Key</div>
<div class="inner" style="float:left;width:100%">
    <div style="width:45%;margin-right:5%;float:left">
        <div class="clearfix">
            <div class="key-color" style="float:left">
                <div class="key-square apathy-10"></div>
            </div>
            <div class="key-label" style="float:left;height:50px;line-height:50px;padding-left:10px;">Most voter apathy (lower turnout)</div>
        </div>

        <div class="clearfix">
            <div class="key-color" style="float:left">
                <div class="key-square apathy-1"></div>
            </div>
            <div class="key-label" style="float:left;height:50px;line-height:50px;padding-left:10px;">Least voter apathy (higher turnout)</div>
        </div>
    </div>
    <div style="width:45%;margin-right:5%;float:left">
        <button id="about" style="position:relative;top:40px">About this project</button>
    </div>
</div>